body {
  background-image: url("../img/down1.png");
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

h1.nav-link-header {
    position: relative;
    align-items: center;
}

div.name-as-title-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1.name-as-title {
  font-size: 9vw;
  font-family: 'Baumans';
  text-shadow: 2px 2px 20px #080808;
  text-align: center;
  float: left;
}

h3.name-as-title {
  font-size: 6vw;
  font-family: 'Baumans';
  text-shadow: 5px 5px 20px #080808;
  text-align: center;
  float: left;
  margin-top: 1.5%;
}

p.home-content {
  font-size: 2.5vw;
  font-family: 'Amaranth';
  width: auto;
  margin-left: 5%;
  vertical-align: middle;
}

img.home-pic {
  width: 200px;
  height: 300px;
  position: relative;

}

.responsive {
    max-width: 100%;
    height: auto;
}

div.hold-homepic-and-content {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/********************** page titles ********************************************/

div.page-title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.page-title h1 {
  font-size: 8vw;
  font-family: 'Baumans';
  color: rgba(255,255,255,.5);
  background-color: #343a40;
  padding: 5px;
  display: inline-block;
}

/*********************** specific to about me section **************************/
p.aboutme-description {
  font-family: 'Amaranth';
  margin-left: 5%;
  margin-right: 3%;
}

/************************ specific to projects section *************************/
p.project-description {
  font-size: 2vw;
  font-family: 'Amaranth';
  width: auto;
  margin-left: 5%
  float: left;
}

div.project-list {
  float: left;
}

h3.project-subtitle {
  float: left;
}

div.project-item {
  float: left;
  width: 40%;
  margin-left: 8%;
}

/************************ specific to contact me section ***********************/
div.contactme-content {
  justify-content: center;
  display: flex;
}

.contactme-content img {
  height: 40%;
  width: 40%;
  margin-left: 5%;
}

.contactme-content h5 {
  float: left;
  margin-left: 3%;
}

.contactme-content p {
  float: left;
  width: auto;
}

hr {
  width: 75%;
  color: black;
}
