body {
  background-image: url("../img/down1.png");
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

h1.nav-link-header {
    position: relative;
    align-items: center;
}

div.name-as-title-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1.name-as-title {
  font-size: 9vw;
  font-family: 'Baumans';
  text-shadow: 2px 2px 20px #080808;
  text-align: center;
  float: left;
}

h3.name-as-title {
  font-size: 6vw;
  font-family: 'Baumans';
  text-shadow: 5px 5px 20px #080808;
  text-align: center;
  float: left;
  margin-top: 1.5%;
}

p.home-content {
  font-size: 2.5vw;
  font-family: 'Amaranth';
  width: auto;
  margin-left: 5%;
  vertical-align: middle;
  text-align: center;
}

div.hold-homepic-and-content img {      /* supposed to be same features as the boostrap responsive img but it screws up my img, so im not currently using it */
  width: 20%;
  display: block;
  height: auto;
}

/* .responsive {
    max-width: 100%;
    height: auto;
} */

div.hold-homepic-and-content {
  display: flex;
  width: 70%;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
  padding-bottom: 10%;
}

/********************** page titles ********************************************/

div.page-title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  clear: both;
}

.page-title h1 {
  font-size: 6vw;
  font-family: 'Baumans';
  color: rgba(255,255,255,.5);
  background-color: #343a40;
  padding: 5px;
  display: inline-block;
}

/*********************** about me section **************************/
p.aboutme-description {
  font-family: 'Amaranth';
  font-size: 1.5vw;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

div.aboutme-section {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.vendimia-pic {
  width: 15%;
  height: auto;
  position: relative;
  margin-left: 10%;
  margin-top: -10%;
}

.aboutme-description-a {
  position: relative;
  width: 50%;
  margin-left: 22%;
  margin-top: -5%;
}

.aboutme-description-b {
  position: relative;
  width: 45%;
  margin-left: 55%;
}

/************************ projects section *************************/
p.project-item-description {
  font-size: 1.5vw;
  font-family: 'Amaranth';
  width: auto;
  margin-left: 5%
  float: left;
  text-align: center;
  margin-top: 5%;
}

div.projects_section {
  padding-bottom: 5%;
  overflow: auto;
}

div.project-list {
  width: 80%;
  justify-content: center;
  display: flex;
  margin: auto;
  padding-bottom: 5%;
}

h3.project-subtitle {
  text-align: center;
  font-size: 1.5em;
}

div.project-item {
  float: left;
  width: 40%;
  margin-left: 8%;
}

.project-item-image {
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#bustle-pic {
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.proj-link {
  font-size: 1.5em;
  color: rgb(200,200,200);
}


/************************ contact me section ***********************/
.contactme_section {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

div.contactme-content {
  justify-content: center;
  display: flex;
}

.contactme-content img {
  height: 30%;
  width: 30%;
  margin-left: 3%;
}

.contactme-content h5 {
  float: left;
  margin-left: 3%;
}

.contactme-content p {
  float: left;
  width: auto;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/******************* ALL body ******************************************************************/
div.all-body {
  overflow: auto;
}
